$white: #fff;
$black: #000;
$black2: #131313;
$black3: #4e4945;

$shadow :  rgba(22, 55, 49, 0.6);
$primary-color:  #393939;
$gray: #b4b4b4;
$gray2:#8f8f8f;
$light-gray:#cdcdcd;
$light-gray2:#b3b5ba;
$red: #f76d5b;
$red2:#f35748;
$shadow2 :  rgba(0, 0, 0, 0.4);

$gray3:#dddddd;
$yellow2: #ffb230;
$red3:#eb8e71;
