$white: #fff;
$black: #000;
$black2: #131313;
$black3: #4e4945;
$light-black: #131313;
$bg-color: #f8f3f0;
$bg-color1: #f2eae6;
$light-gray3: #847f7a;
$light-gray1: #dddddd;
$red: #f76d5b;

$shadow :  rgba(22, 55, 49, 0.6);
$primary-color:  #393939;
$gray: #b4b4b4;
$gray2:#8f8f8f;
$light-gray:#cdcdcd;
$light-gray2:#b3b5ba;
$light-gray4: #b6b6b6;
$light-gray5: #646f7c;
$light-gray6: #f5f5f5;
$red2:#f35748;
$shadow2 :  rgba(0, 0, 0, 0.4);

$gray3:#dddddd;
$gray4:#3f3a39;
$gray5:#d7d7d7;
$gray6:#333333;
$gray7: #5c5c5c;
$yellow2: #ffb230;
$red3:#eb8e71;
$light-gray5:#d7d7d7;
