.row {
  margin: 0 -12px;
}
.col {
  padding: 0 12px;
}
.v-input {
  &.custom-input {
    padding: 0 0 16px;
    margin: 20px 0 0;
    @include bp(sm-max){
        padding: 0;
    }
    .v-label {
      transform: none;
      color: $primary-color !important;
      font-size: 16px;
      line-height: 20px;
      font-family: $primary-font-regular;
      width: 100%;
      top: auto;
      bottom: 100%;
      margin: 0 0 5px;
    }
    .v-input__control {
      > .v-input__slot {
        &:after,
        &:before {
          border: none;
          background-color: $gray;
          height: 1px;
        }
        &:after {
          background-color: $red;
        }
        input {
          font-size: 16px;
          line-height: 20px;
          color: $gray2;
          padding: 11px 0;
          max-height: none;
          font-family: $primary-font;
          &::placeholder {
            opacity: 1;
            font-size: 16px;
            line-height: 20px;
            color: $gray2;
            font-family: $primary-font;
          }
        }
      }
      .v-input__append-inner {
        padding:11px 0 11px 11px;
        margin: 0;
        .v-icon {
          color: $gray !important;
        }
      }
    }
  }
  &.custom-checkbox {
    margin: 0;
    padding: 0;
    .v-label {
      color: $primary-color !important;
      font-size: 16px;
      line-height: 20px;
      font-family: $primary-font-regular;
      letter-spacing: -0.6px;
    }
    .v-messages{
        display: none;
    }
    .v-input--selection-controls__input {
      height: 30px;
      width: 30px;
      margin-right: 14px;
      @include bp(sm-max){
        height: 24px;
        width: 24px;
      }
      .v-icon {
        font-size: 30px;
        color: $white;
        border: 1px solid $light-gray;
        @include bp(sm-max){
            font-size: 24px;
        }
      }
      .mdi-checkbox-marked {
        &:before {
          color: $white;
          background-image: url("@/assets/images/check.png");
          content: "";
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px;
          @include bp(sm-max){
            height: 24px;
            width: 24px;
            background-size: 15px;
          }
        }
      }
      
      .v-input--selection-controls__ripple {
        height: 40px;
        width: 40px;
        top: calc(50% - 27px);
        left: -12px;
        @include bp(sm-max){
            height: 34px;
            width: 34px;
            top: calc(50% - 24px);
            left: -12px;
        }
      }
    }
  }
}
.v-application {
  .primary-btn {
    background-color: $red2;
    display: inline-block;
    height: auto;
    padding: 0;
    text-transform: none;
    box-shadow: none;
    .v-btn__content {
      padding: 12px 33px;
      font-size: 21px;
      line-height: 25px;
      color: $white;
      letter-spacing: normal;
    }
    &.link-inside {
      .v-btn__content {
        padding: 0;
        a {
          padding: 12px 33px;
          font-size:inherit;
          line-height: inherit;
          color: inherit;
          letter-spacing: normal;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.v-select{
  input{
    min-height: 42px;
    padding: 11px 0;
  }
  &.primary--text{
      color: $red;
      caret-color: $red !important;
  }
  &.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after{
    border-color: $red;
    background-color: $red;
  }
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before{
  border-color: rgba(0, 0, 0, 0.42) !important;
}
.v-select-list .v-list-item:before{
  background-color: $red !important; 
}
.v-select-list .v-list-item:hover:before{
  opacity: 1 !important;
}
.v-select-list .v-list-item .v-list-item__content{
  z-index: 1;
}
.v-select-list .v-list-item:hover{
  color: $white !important;
  z-index: 1;
}
body{
  .v-application .primary--text{
    color: $red !important;
    caret-color: $red !important;
  }
}
.v-application{
  .v-picker__title.primary{
    background-color: $red !important;
    border-color: $red !important;
  }  
  .v-picker--date{
    .accent--text{
      color: $red3 !important;
      caret-color: $red3 !important;
    }
  }
}
.v-date-picker-table{
  .v-btn{
    &:before{
      background-color: $red3;
    }
    &:hover{
      &:before{
        opacity: 0.5;
      }
    }
    &.v-btn--active{
      &:hover{
        &:before{
          opacity: 1;
        }
      }
      &:before{
        opacity: 1;
      }
    }
  }
}
body{
  .v-input{
    .v-input__control {
      > .v-input__slot {
        &:after,
        &:before {
          border: none;
          background-color: $gray;
          height: 1px;
        }
        &:after {
          background-color: $red;
        }
      }
    }
  }
}