.caret {
    margin-left: 7px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $black2;
}
body {    
    .header {
        &.v-toolbar{
            &.v-app-bar{
                padding: 0;
                z-index: 99;                
                border-bottom: 1px solid #f2eae6;
                background: #fff;
                min-height: 76px;
                box-shadow: none;  
                .v-toolbar__content {
                    padding: 0;
                    min-height: inherit;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }  
        .header-left{
            height: 100%;
            display: flex;
            align-items: center;
        }
        .sidebar-toggle{
            height: 100% !important;
            border-right: 1px solid #a19797;
            border-radius: 0;
            margin-right: 15px;
            width: 60px !important;
        }
        .badge {
            border: 2px solid $white;
            color: #ffffff;
            font-size: 11px;
        }
        .v-toolbar__content {
            .profile-dropdown-btn {
                height: auto;
                padding: 0;
                background: transparent;
                box-shadow: none;
                margin-right: 30px;
                text-transform: unset;
                font-size: 13px;
                line-height: 17px;
                color: #131313;
                letter-spacing: 0.2px;
                .v-avatar {
                    margin-right: 20px;
                }
            }
            .v-btn {
                &:hover, &:focus {
                    &::before {
                        opacity: 0;
                        outline: none;
                        box-shadow: none;
                    }
                }      
            }    
        }  
        .logout-link {
            height: 75px;
            box-shadow: none;
            width: 82px;
            background: $yellow2;
            &:hover {
                background: $black3;
            }
            .v-image__image--cover {
                background-size: contain;
            }
        }      
    }         
}
